<div>
  <!-- <input #inputTxt type="text" placeholder="Enter your name here" />
  <button (click)="onSubmit(inputTxt)">Submit</button>
  <button class="remove" (click)="removeList()">Remove List</button>
  <app-list [usrName]="usrName" *ngIf="!isDestroy">
    <h1>Here is the list of tasks:</h1>
    <li *ngFor="let task of tasks">
      {{ task.desc }} - {{ task.startTime }} -
      {{ task.endTime }}
    </li>
  </app-list> -->

  <!-- <app-list [usrName]="usrName">
    <h1>Here is the list of products:</h1>
    <li *ngFor="let product of products">
      {{ product.name }} -*- {{ product.price }} -*- {{ product.qty }}
    </li>
  </app-list> -->
  <app-counter></app-counter>
</div>
